@import 'fonts.less';

.white-btn {
    position: relative;
    background-color: white;
    color: #331a15;
    padding: 7px 50px 7px 30px;
    border-radius: 5px;
    text-decoration: none;
}






body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    .railwayRegular !important;


    header {
        width: 100%;
        background-color: #331A15;

        .ranchoRegular;

        nav {

            .nav-container {
                flex: 1 1 auto;

                .navbar-nav {
                    display: flex;
                    flex-direction: row;
                    column-gap: 15px;

                    .nav-link {
                        color: white;
                        font-size: 18px;
                        text-decoration: none;

                        &.shop-link {
                            .white-btn;

                            &:before {
                                content: "";
                                position: absolute;
                                background-image: url('img/shop-now-icon.svg');
                                background-size: contain;
                                background-position: center right;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 28px;
                                right: 20px;

                            }
                        }

                    }
                }

                .navbar-brand {
                    color: white;
                    font-size: 40px;
                    text-decoration: none;
                }

            }
        }
    }


    main {

        .home-section {
            background-color: grey;
            width: 100%;
            min-height: 500px;
            height: auto;
            margin: 0 auto;
            position: relative;
            max-width: 100%;

            .content {
                width: 50%;
                position: relative;
                color: #fff;
                font-family: Rancho, cursive;
                font-weight: 400;
                margin: auto 0;
                padding: 50px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-start;
                row-gap: 30px;
                align-content: flex-end;
                float: right;


                @media (max-width: 1100px){
                    padding:30px 10px;
                }

                @media (max-width: 991px) {
                    width: 100%;
                    float: none;
                    padding: 50px;
                }


                h1 {
                    //width: 450px;
                    font-size: 65px;


                }

                p {
                    .railwayRegular;
                    //: 450px;
                }

                .learn-more {
                    width: 200px;
                    font-size: 24px;

                    &:before {
                        content: "";
                        position: absolute;
                        background-image: url('img/arrow-learn-more.svg');
                        background-size: contain;
                        background-position: center right;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 37px;
                        right: 30px;

                    }

                }

            }
        }


        .cards-first {
            background-color: #ECEAE3;
            max-width: 100%;

            .wrapper {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                justify-content: center;
                align-items: flex-start;
                column-gap: 30px;
                padding: 100px 50px;
                flex-wrap: wrap;
                width: 100%;

                .card {
                    position: relative;
                    border: none;
                    background-color: transparent;
                    min-width: 200px;
                    flex: 1 1 0;


                    img {
                        width: 50px;
                        height: auto;

                    }

                    h2 {
                        .ranchoRegular;
                        font-size: 30px;
                        padding: 15px 0 10px 0;
                    }

                    p {
                        color: #555555;
                        .railwayRegular;
                        font-size: 18px;
                    }
                }
            }

            @media screen (max-width: 1024px) {}
        }

        .about-us {
            width: 100%;
            height: auto;

            .wrapper {
                padding: 100px 50px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                max-width: 100%;

                @media (max-width:991px) {
                    flex-direction: column;
                    padding: 20px;

                }



                .left {
                    width: 50%;
                    row-gap: 20px;
                    display: flex;
                    flex-direction: column;
                    padding: 0 100px;

                    @media (max-width:991px) {
                        width: 100%;
                        padding: 20px;
                    }

                    span {
                        .railwayRegular;
                        font-size: 18px;
                        padding-bottom: 10px;
                    }

                    h2 {
                        .ranchoRegular;
                        font-size: 50px;
                    }

                    p {
                        .railwayRegular;

                    }

                    .cups {
                        padding: 20px 0 0 60px;
                        position: relative;

                        h3 {
                            &:after {
                                content: "";
                                position: absolute;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: top center;
                                left: -10px;
                                top: 30px;
                                width: 60px;
                                height: 68px;
                            }

                            &.first {
                                &:after {
                                    background-image: url('img/first-cup.svg');
                                }
                            }

                            &.second {
                                &:after {

                                    background-image: url('img/second-cup.svg');
                                }
                            }
                        }

                    }
                }

                .right {
                    position: relative;
                    width: 50%;
                    right: 0;

                    @media (max-width:991px) {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-direction: row;
                        row-gap: 30px;
                        justify-content: center;
                        align-content: center;
                    }


                    .portrait {
                        position: absolute;
                        z-index: 2;
                        right: 30px;
                        top: 0;

                        @media (max-width:991px) {
                            position: relative;
                        }
                    }

                    .landscape {
                        position: absolute;
                        z-index: 1;
                        bottom: 0;

                        @media (max-width:1000px) {
                            position: relative;
                            max-width: 300px;
                            width: auto;
                        }
                    }


                }
            }
        }

        .special {

            .wrapper {
                width: 100%;
                padding: 50px 50px 50px 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                column-gap: 30px;
                flex: 1 1 0;

                @media (max-width:991px) {
                    justify-content: center;
                    flex-direction: column-reverse;

                }

                .grey-img {
                    display: flex;
                    position: relative;
                    width: 40%;
                    column-gap: 30px;

                    @media (min-width: 991px) and (max-width: 1100px) {
                        flex-wrap: wrap;
                        width: auto;
                        flex-direction: column;
                        row-gap: 30px;
                        padding: 30px 0;
                    }

                    @media (max-width: 991px) {
                        width: 100%;
                        justify-content: center;
                    }

                    @media (max-width:700px) {
                        flex-wrap: wrap;
                        flex-direction: column;
                        row-gap: 30px;
                    }

                    .round-img1 {
                        position: absolute;
                        left: -30px;
                        max-width: 300px;

                        @media (min-width: 991px) and (max-width: 1100px) {
                            position: relative;
                            left: unset;

                        }

                        @media (max-width:991px) {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: auto;
                            left: unset;

                        }

                    }

                    .round-img2 {
                        position: absolute;
                        top: 200px;
                        left: 200px;
                        max-width: 300px;

                        @media (max-width:1170px) {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: auto;
                            top: unset;
                            left: unset;


                        }

                    }


                }



                .coffee-container {
                    flex: 1 1 0;
                    padding: 0 20px;
                    box-sizing: border-box;
                    width: 60%;

                    @media (max-width: 991px) {
                        width: 100%;
                    }
                }

                .coffee-intro {
                    padding: 25px 0;

                    @media (max-width:768px){
                        text-align: center;
                    }


                    h1 {
                        font-size: 50px;
                        color: #333;
                        margin-bottom: 30px;
                        .ranchoRegular;
                    }

                    p {
                        font-size: 18px;
                        color: #666;
                    }
                }

                .coffee-benefits {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px;

                    @media (max-width:320px) {
                        flex-direction: column;
                    }

                }

                .benefit {
                    flex: 1 0 250px;
                    margin-left: 60px;
                    position: relative;
                    padding: 10px 60px 10px 0;

                    h2 {
                        font-size: 24px;
                        color: #333;
                        .ranchoRegular;
                    }

                    p {
                        font-size: 16px;
                        color: #555555;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: left center;
                        width: 50px;
                        height: 50px;
                        left: -65px;



                    }

                    &.one {
                        &:before {
                            background-image: url('img/cup1.svg');
                        }
                    }

                    &.two {
                        &:before {
                            background-image: url('img/first-cup.svg');
                        }
                    }

                    &.three {
                        &:before {
                            background-image: url('img/cup3.svg');
                        }
                    }

                    &.four {
                        &:before {
                            background-image: url('img/bottle.svg');
                        }
                    }
                }
            }
        }

        .photo-gallery {
            width: 100%;
            height: max-content;
            background-color: #ECEAE3;
            position: relative;
            margin: 0;
            padding: 80px 0;
            text-align: center;
            z-index: 2;

            &:before {
                content: "";
                position: absolute;
                background-size: contain;
                background-position: top left;
                background-repeat: no-repeat;
                left: 0;
                z-index: 1;
                width: 254px;
                height: 324px;
                background-image: url('img/coffee-shape.png');
            }

            &:after {
                content: "";
                position: absolute;
                background-size: contain;
                background-position: bottom right;
                background-repeat: no-repeat;
                right: 0;
                bottom: 0;
                z-index: 1;
                width: 419px;
                height: 985px;
                background-image: url('img/tent-shape.png');
            }

            .top-section {
                position: relative;
                z-index: 2;

                h1 {
                    padding: 30px 0;
                    font-size: 50px;
                    .ranchoRegular;
                }
            }

            .gallery-nav {
                display: flex;
                margin: 0 auto;
               
                align-items: center;
                justify-content: center;
                column-gap: 50px;
                flex-wrap: wrap;
                position: relative;
                z-index: 2;
                 @media (max-width:768px){
                    padding:0;
                 }


                li {
                    display: inline-block;
                    width: 100px;

                    a {
                        padding: 10px;
                        text-decoration: none;
                        color: #333;
                        white-space: nowrap;
                        min-width: max-content;
                        transition: 0.3s all ease-in-out;
                        display: inline-block;
                        font-size: 30px;
                        line-height: 35px;
                        .ranchoRegular;



                        &:before {
                            display: block;
                            content: attr(title);
                            font-weight: bold;
                            height: 0;
                            overflow: hidden;
                            visibility: hidden;
                        }

                        &:hover {
                            font-weight: bold;
                            transition: 0.3s all ease-in-out;
                        }

                        &:focus {
                            border-bottom: 3px solid #331A15;
                        }
                    }
                }
            }

            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 60px;
                column-gap: 40px;
                padding: 30px;
                position: relative;
                z-index: 2;

                .card {
                    padding: 10px;
                    width: min-content;
                    border: none;

                    img {
                        width: 350px;
                        height: auto;

                        @media (max-width:700px) {
                            width: auto;
                            height: unset;
                        }
                    }

                    .card-body {
                        h1 {
                            font-size: 30px;
                            .ranchoRegular;
                        }

                        p {
                            font-size: 18px;
                            .railwayRegular;
                        }
                    }
                }
            }

        }

        .testimonial {
            width: 100%;
            position: relative;
            margin: 50px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

           .top-section{
            span {
                font-size: 18px;
                color: #555555;
            }

            h1 {
                font-size: 54px;
                color: #331A15;
                margin: 15px 0;
                .ranchoRegular;
            }
            @media (max-width:768px){
                text-align:center;
            }
           }

            .testimonials {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 50px;
                margin: 100px auto;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .box {
                    position: relative;
                    border-radius: 10px;
                    background: #ECEAE3;
                    width: 350px;
                    height: 350px;
                    z-index: 2;

                    @media (max-width:768px){
                        width: auto;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 200px;
                        height: 180px;
                        margin: auto;
                        z-index: 1;
                        background-image: url('img/apotrophe.svg');
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        background-size: contain;
                        background-position: top center;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 100px;
                        top: -50px;
                        background-image: url(img/thumnail-testimonials.png);
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 40px 20px;
                        justify-content: flex-end;
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        height: 100%;


                        p {
                            padding: 25px 10px;
                            .railwayRegularItalic;
                        }

                        h2 {
                            color: #331A15;
                            font-size: 26px;
                            .ranchoRegular;
                        }
                    }
                }
            }
        }

        .popular-products {
            width: 100%;
            position: relative;
            padding: 100px;
            background-color: #ECEAE3;

            @media (max-width:991px){
                padding: 50px 30px;
            }

            .header {
                display: flex;
                flex-direction: row;
                flex: 1 1 0;
                align-items: center;
                justify-content: space-between;

                @media (max-width:600px){
                    flex-wrap:wrap;
                    justify-content: center;
                    flex-direction: column;
                }

                .left {
                    h1 {
                        padding: 15px 0;
                        font-size: 54px;
                    }

                    @media (max-width:768px){
                        text-align: center;
                    }
                }

                .right {
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 10px 25px;
                        margin: auto;
                        background-color: #331A15;
                        border-radius: 5px;
                    }

                    @media (max-width:991px){
                        display: flex;
                        flex-direction: column;
                        
                    }

                }
            }

            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 60px;
                column-gap: 40px;
                padding: 30px 0;
                position: relative;
                z-index: 2;

                .card {
                    padding: 10px;
                    width: min-content;
                    border: none;

                    img {
                        width: 351px;
                        height: auto;

                        @media (max-width:450px){
                            width: auto;
                        }
                    }

                    .card-body {
                        h1 {
                            font-size: 30px;
                            .ranchoRegular;
                        }

                        p {
                            font-size: 18px;
                            color: #555;
                            .railwayRegular;
                        }

                        .price {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            span {
                                @parent-font-size: 40px;
                                font-size: @parent-font-size;

                                .dollar {
                                    font-size: @parent-font-size - 10px;
                                }

                                .line-through {
                                    text-decoration: line-through;
                                    color: #555;
                                    @parent-font-size-smaller: 30px;
                                    font-size: @parent-font-size-smaller;

                                    .dollar {
                                        text-decoration: none !important;
                                        font-size: @parent-font-size-smaller -10px;
                                    }
                                }
                            }

                            a {
                                font-size: 25px;
                                text-decoration: none;
                                background-color: white;
                                padding: 8px 30px;
                                color: #331A15;
                                border-radius: 5px;
                                border: 2px solid black;

                                @media (max-width:400px){
                                    font-size:16px;
                                    padding: 5px 15px;
                                    margin:  auto 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .follow-us {
            width: 100%;
            height: auto;
            position: relative;
            margin: 50px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            h1 {
                font-size: 54px;
                padding: 15px 0;
            }

            .boxes {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
                margin: 30px auto;

                .box {
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 335px;
                    height: 335px;
                    z-index: 1;


                    a {
                        cursor: pointer;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        height: auto;
        background-color: #331A15;
        padding-top: 100px;
        .ranchoRegular;

        .map {
            width: 500px;
            height: 400px;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            row-gap: 25px;

            .shop-btn {
                color: white;
                padding: 5px 60px;
                border: 3px solid white;
                border-radius: 5px;
                margin: 30px auto;
                font-size: 30px;
                .ranchoRegular;
            }
        }

        .left {
            @media (max-width:991px) {
                padding: 30px;
                text-align: center;

            }

            h1 {
                font-size: 54px;
            }

            p {
                width: 75%;
                font-size: 18px;

                @media (max-width:991px) {
                    width: 100%;

                }
            }

            a {

                img {
                    max-width: 25px;
                    max-height: 25px;

                }
            }
        }

        .right {
            @media (max-width:991px) {
                padding: 30px;


            }

            padding: 0 30px;

            h2 {
                font-size: 34px;

                @media (max-width:991px) {

                    text-align: center;

                }
            }

            .contact-boxes {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @media (max-width:991px) {
                    justify-content: center;
                }


                .box {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    padding: 30px 0;



                    h5 {
                        margin: 0;
                        position: relative;
                        padding-left: 60px;
                        font-size: 24px;
                        .railwayMedium;

                        &:before {
                            content: "";
                            position: absolute;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: left center;
                            left: 0;
                            width: 40px;
                            height: 50px;
                            top: 50%;
                            transform: translateY(-10%);
                        }

                        &.email {
                            &:before {
                                background-image: url('img/email.svg');
                            }
                        }

                        &.phone {
                            &:before {
                                background-image: url('img/contact.svg');
                            }
                        }

                        &.address {
                            &:before {
                                background-image: url('img/address.svg');
                            }
                        }
                    }


                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 30px;
                        padding-left: 50px;
                    }
                }
            }
        }

        .copyright {
            width: 100%;
            border-top: 1px solid white;
            height: auto;
            margin: 0 auto;
            padding: 15px;

            p {
                margin-bottom: 0 !important;

                .left-part {
                    font-size: 24px;
                }

                .right-part {
                    font-size: 18px;
                }
            }
        }

    }
}